/*미디어쿼리*/
@media(max-width:1600px) {}


@media(max-width:1400px) {
    .sec01-wrap {
        /* display: flex;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%); */
    }


}

/*화면너비 0~1220px*/
@media(max-width:1260px) {
    .container {
        width: 90%;
        /* padding-right: 78px; */
        background: blanchedalmond;
        /* margin: 0 3%; */
    }

    .glide {
        width: 98%;
    }
}


/* 화면 너비 0~960px _태블릿*/
@media (max-width:1100px) {
    .menudots {
        display: none;
    }

    .side-sns {
        display: none;
    }

    /* .sec03-Wnum {
        left: 30%;
    }

    .sec03-img ul {
        display: flex;
        padding: 50px 10%;
    } */

    /*section2*/
    .sec02-main {
        background: none;
    }

    #section2 .sec02-bg {
        background: none;
    }


    .sec02-intro {
        padding: 20px;
    }

    .sec02-intro div h3 {
        font-size: 23px;
    }

    .container {
        width: 100%;
    }

    .glide {
        width: 90%;
    }

    .slide1,
    .slide2 {
        width: 90%;
        /* margin: 0 auto; */
    }
}

/* 화면 너비 0~960px _태블릿*/
@media (max-width:960px) {}

/*화면너비 0~768px*/
@media(max-width:800px) {
    .web-portfolio {
        width: 100%;
        flex-direction: column-reverse;
        /*     flex-wrap: wrap; */

    }

    .list-btn {
        flex: none;
    }

    .list-content {
        width: 90%;
        flex: none;
        margin: 0 auto;
    }

    .list-btn {
        margin: 0 auto;
    }

    .list-btn h1 button {
        padding: 0;
    }

    .webcon-img {
        width: 97%;
    }

    .imgframe2 {
        width: 97%;
    }


}

/*화면너비 0~600px*/
@media(max-width:600px) {
    .webcon-img {
        width: 96%;
    }

    .imgframe2 {
        width: 96%;
    }
}

/*화면너비 0~480px*/
@media(max-width:480px) {
    .list-content {
        width: 360px;
        height: 300px;

    }

    .webcon-img {
        width: 340px;
        height: 280px;
    }


    .imgframe2 {
        width: 340px;
        height: 280px;

    }
}


/*화면너비 0~360px*/
@media(max-width:360px) {
    .list-content {
        width: 90%;
        height: 270px;
    }

    .webcon-img {
        width: 94%;
        height: 250px;
    }

    .imgframe2 {
        width: 94%;
        height: 250px;
    }
}